<th class="flex flex-row ml-2 items-center">
  <h3
    class="font-iBold text-[13px] tracking-tight text-gray-dark-text md:text-[11px]"
  >
    {{ tableHeadText }}
  </h3>
  <div id="headerArrows" class="flex w-full justify-end">
    <svg
      class="h-4 w-4 text-gray-light-text"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M8 9l4-4 4 4m0 6l-4 4-4-4"
      />
    </svg>
  </div>
</th>
