<button
  class="h-9 w-auto px-2 border-2 text-gray-light-text border-gray-light-button rounded-lg text-center inline-flex items-center hover:bg-gray-search"
>
  <mat-label class="text-gray-light-text text-sm pr-5 pl-2">Actions</mat-label>
  <mat-select class="text-xs">
    <div class="mt-5 mb-6 w-full flex justify-start flex-col">
      <mat-option id="actionsOption"
        ><svg
          class="h-3 w-3 text-blueish-dark inline-block mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
          /></svg
        >Edit</mat-option
      >
      <mat-option id="actionsOption">
        <svg
          class="h-3 w-3 text-blueish-dark inline-block mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          /></svg
        >Product Settings
      </mat-option>
      <mat-option id="actionsOption">
        <svg
          class="h-3 w-3 text-blueish-dark inline-block mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M15 9a2 2 0 10-4 0v5a2 2 0 01-2 2h6m-6-4h4m8 0a9 9 0 11-18 0 9 9 0 0118 0z"
          /></svg
        >Set Comissin Rate
      </mat-option>
      <mat-option id="actionsOption"
        ><svg
          class="h-3 w-3 text-blueish-dark inline-block mr-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>
        Set Invoicing Address
      </mat-option>
      <mat-option id="actionsOption">
        <svg
          class="h-3 w-3 text-blueish-dark inline-block mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          /></svg
        >Turn On Approcal Process
      </mat-option>
      <mat-option id="actionsOption">
        <svg
          class="h-3 w-3 text-blueish-dark inline-block mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"
          /></svg
        >SKU Sequence Settings
      </mat-option>
      <div class="w-full flex justify-center items-center mb-2 mt-2">
        <mat-divider class="w-[90%]"></mat-divider>
      </div>
      <mat-option class="text-salmon" id="actionsOption">
        <svg
          class="h-3 w-3 text-salmon inline-block mr-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        Inactivate
      </mat-option>
      <mat-option class="text-salmon" id="actionsOption">
        <svg
          class="h-3 w-3 text-salmon inline-block mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          /></svg
        >Delete
      </mat-option>
    </div>
  </mat-select>
</button>
